<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>510543511228-snfl5jn3f1hjjuitetddnl7krobvrku2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510543511228-snfl5jn3f1hjjuitetddnl7krobvrku2</string>
	<key>API_KEY</key>
	<string>AIzaSyDSLwCFz_97Z4fSqFDBjoHROFz00u_XZH8</string>
	<key>GCM_SENDER_ID</key>
	<string>510543511228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>code.CelldriveV3</string>
	<key>PROJECT_ID</key>
	<string>celldrive3-7006e</string>
	<key>STORAGE_BUCKET</key>
	<string>celldrive3-7006e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510543511228:ios:ace23597fcbf9145</string>
	<key>DATABASE_URL</key>
	<string>https://celldrive3-7006e.firebaseio.com</string>
</dict>
</plist>